## Kaggle Machine Learning & Data Science Survey Ext

In [38]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.preprocessing import StandardScaler
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.metrics import make_scorer, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from scipy import stats

In [2]:
# Load the data
df = pd.read_csv('kaggle_2017_to_2020.csv', low_memory = False)

In [3]:
# Print the information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80327 entries, 0 to 80326
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unique_Id                           80327 non-null  int64
 1   Time                                80327 non-null  object
 2   Year                                80327 non-null  int64
 3   Age                                 80327 non-null  object
 4   Gender                              80327 non-null  object
 5   Country                             80327 non-null  object
 6   Degree                              80327 non-null  object
 7   Job Title                           80327 non-null  object
 8   Company Size                        80327 non-null  object
 9   Team Size                           80327 non-null  object
 10  ML Status in Company                80327 non-null  object
 11  Compensation Status                 80327 non-null  object
 12  Money Spent                         80327 non-null  object
 13  Current role experience (in years)  80327 non-null  object
 14  Programming language choice         80327 non-null  object
 15  Recommend Programming language      80327 non-null  object
 16  Coding experience (in years)        80327 non-null  object
 17  Specialised HW                      80327 non-null  object
 18  TPU Usage                           80327 non-null  object
 19  ML Methods experience (in years)    80327 non-null  object
dtypes: int64(2), object(18)
memory usage: 12.3+ MB
None

In [4]:
# Display first five rows
df.head()

,Unique_Id,Time,Year,Age,Gender,Country,Degree,Job Title,Company Size,Team Size,ML Status in Company,Compensation Status,Money Spent,Current role experience (in years),Programming language choice,Recommend Programming language,Coding experience (in years),Specialised HW,TPU Usage,ML Methods experience (in years)
0,0,Unknown / Not Specified,2017,25.0,Male,Argentina,Master’s degree,Machine Learning Engineer,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Cant Disclose,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,"Basic laptop (Macbook),Traditional Workstation",Unknown / Not Specified,Unknown / Not Specified
1,1,Unknown / Not Specified,2017,21.0,Prefer not to say,Argentina,No formal education past high school,Business Analyst,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Cant Disclose,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified
2,2,Unknown / Not Specified,2017,25.0,Male,Argentina,Bachelor’s degree,Computer Scientist,50-249 employees,Unknown / Not Specified,Unknown / Not Specified,"20,001-30,000",Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified
3,3,Unknown / Not Specified,2017,28.0,Male,Argentina,Bachelor’s degree,Other,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Cant Disclose,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Other,Unknown / Not Specified,Unknown / Not Specified
4,4,Unknown / Not Specified,2017,38.0,Male,Argentina,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Cant Disclose,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified

In [5]:
# Check for missing values
df.isnull().sum()

Unique_Id                             0
Time                                  0
Year                                  0
Age                                   0
Gender                                0
Country                               0
Degree                                0
Job Title                             0
Company Size                          0
Team Size                             0
ML Status in Company                  0
Compensation Status                   0
Money Spent                           0
Current role experience (in years)    0
Programming language choice           0
Recommend Programming language        0
Coding experience (in years)          0
Specialised HW                        0
TPU Usage                             0
ML Methods experience (in years)      0
dtype: int64

In [6]:
# Select the columns to drop
columns_to_drop = ['Unique_Id','Time']

In [7]:
# Drop the columns
df.drop(columns = columns_to_drop, inplace =True )

In [8]:
# Find how many entries with unknown comensation are missing
df['Compensation Status'].describe()

count                       80327
unique                         19
top       Unknown / Not Specified
freq                        20201
Name: Compensation Status, dtype: object

In [9]:
# Find unique values
df['Compensation Status'].unique()

array(['Cant Disclose', '20,001-30,000', '40,000-49,999', '> $500,000',
       '50,000-59,999', '10,001-20,000', '30,000-39,999',
       '300,000-500,000', '100,000-124,999', '200,000-249,999',
       '60,000-69,999', '80,000-89,999', '70,000-79,999',
       '125,000-149,999', '150,000-199,999', '250,000-299,999',
       '90,000-99,999', '0-10,000', 'Unknown / Not Specified'],
      dtype=object)

In [10]:
# Keep only entries with known compensations
filtered_df = df[df['Compensation Status'] != 'Unknown / Not Specified']
filtered_df = filtered_df[filtered_df['Compensation Status'] != 'Cant Disclose']

In [11]:
# print filtered df
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43860 entries, 2 to 80325
Data columns (total 18 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                43860 non-null  int64
 1   Age                                 43860 non-null  object
 2   Gender                              43860 non-null  object
 3   Country                             43860 non-null  object
 4   Degree                              43860 non-null  object
 5   Job Title                           43860 non-null  object
 6   Company Size                        43860 non-null  object
 7   Team Size                           43860 non-null  object
 8   ML Status in Company                43860 non-null  object
 9   Compensation Status                 43860 non-null  object
 10  Money Spent                         43860 non-null  object
 11  Current role experience (in years)  43860 non-null  object
 12  Programming language choice         43860 non-null  object
 13  Recommend Programming language      43860 non-null  object
 14  Coding experience (in years)        43860 non-null  object
 15  Specialised HW                      43860 non-null  object
 16  TPU Usage                           43860 non-null  object
 17  ML Methods experience (in years)    43860 non-null  object
dtypes: int64(1), object(17)
memory usage: 6.4+ MB

### About 40,000 entries were removed

In [12]:
# Check the type of education present in the survey
filtered_df['Degree'].unique()

array(['Bachelor’s degree',
       'Some college/university study without earning a bachelor’s degree',
       'Master’s degree', 'Professional degree', 'Doctoral degree',
       'Unknown / Not Specified', 'No formal education past high school',
       'I prefer not to answer'], dtype=object)

In [13]:
# Remove the unknown values from education column
filtered_df = filtered_df[filtered_df['Degree'] != 'Unknown / Not Specified']

In [14]:
# Check filtered df
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43854 entries, 2 to 80325
Data columns (total 18 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                43854 non-null  int64
 1   Age                                 43854 non-null  object
 2   Gender                              43854 non-null  object
 3   Country                             43854 non-null  object
 4   Degree                              43854 non-null  object
 5   Job Title                           43854 non-null  object
 6   Company Size                        43854 non-null  object
 7   Team Size                           43854 non-null  object
 8   ML Status in Company                43854 non-null  object
 9   Compensation Status                 43854 non-null  object
 10  Money Spent                         43854 non-null  object
 11  Current role experience (in years)  43854 non-null  object
 12  Programming language choice         43854 non-null  object
 13  Recommend Programming language      43854 non-null  object
 14  Coding experience (in years)        43854 non-null  object
 15  Specialised HW                      43854 non-null  object
 16  TPU Usage                           43854 non-null  object
 17  ML Methods experience (in years)    43854 non-null  object
dtypes: int64(1), object(17)
memory usage: 6.4+ MB

### About 2000 entries were removed

In [15]:
filtered_df = filtered_df[filtered_df['ML Methods experience (in years)'] != 'Unknown / Not Specified']

In [16]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20709 entries, 40575 to 80325
Data columns (total 18 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                20709 non-null  int64
 1   Age                                 20709 non-null  object
 2   Gender                              20709 non-null  object
 3   Country                             20709 non-null  object
 4   Degree                              20709 non-null  object
 5   Job Title                           20709 non-null  object
 6   Company Size                        20709 non-null  object
 7   Team Size                           20709 non-null  object
 8   ML Status in Company                20709 non-null  object
 9   Compensation Status                 20709 non-null  object
 10  Money Spent                         20709 non-null  object
 11  Current role experience (in years)  20709 non-null  object
 12  Programming language choice         20709 non-null  object
 13  Recommend Programming language      20709 non-null  object
 14  Coding experience (in years)        20709 non-null  object
 15  Specialised HW                      20709 non-null  object
 16  TPU Usage                           20709 non-null  object
 17  ML Methods experience (in years)    20709 non-null  object
dtypes: int64(1), object(17)
memory usage: 3.0+ MB

### About 2000 entries were removed

In [17]:
# Change the age column format to remove ranges and find the average
def parse_age(age):
    if '-' in age:
        low, high = age.replace(',', '').split('-')
    elif '>' in age:
        # Extract the numeric part after '>'
        low = age.replace(',', '').strip()
    else:
        # Handle other cases if needed
        low = high = age

    return pd.Series([low, high], index=['Low Age', 'High Age'])

# Apply the function to the 'Compensation Status' column
filtered_df[['Low Age', 'High Age']] = filtered_df['Age'].apply(parse_age)

# Convert 'Low Range' and 'High Range' to numeric types (floats or ints)
filtered_df['Low Age'] = pd.to_numeric(filtered_df['Low Age'], errors='coerce')
filtered_df['High Age'] = pd.to_numeric(filtered_df['High Age'], errors='coerce')

In [18]:
# Calculate the average of low and high range age
filtered_df['Average Age'] = (filtered_df['Low Age'] +  filtered_df['High Age']) / 2

In [19]:
# Drop the other age related column and keep average only
filtered_df = filtered_df.drop(columns = ['Age','Low Age', 'High Age'])

In [20]:
# Parse the compensation column to split between low and high range salaries
def parse_compensation(comp_range):
    if '-' in comp_range:
        low, high = comp_range.replace('$', '').replace(',', '').split('-')
    elif '>' in comp_range:
        # Extract the numeric part after '>'
        low = comp_range.replace('>', '').replace('$', '').replace(',', '').strip()
        high = None  # Set high range to None or you can use np.nan
    else:
        # Handle other cases if needed
        low = high = None

    return pd.Series([low, high], index=['Low Range Comp', 'High Range Comp'])

# Apply the function to the 'Compensation Status' column
filtered_df[['Low Range Comp', 'High Range Comp']] = filtered_df['Compensation Status'].apply(parse_compensation)

# Convert 'Low Range' and 'High Range' to numeric types (floats or ints)
filtered_df['Low Range Comp'] = pd.to_numeric(filtered_df['Low Range Comp'], errors='coerce')
filtered_df['High Range Comp'] = pd.to_numeric(filtered_df['High Range Comp'], errors='coerce')

In [21]:
filtered_df['Average Comp'] = (filtered_df['Low Range Comp'] +  filtered_df['High Range Comp']) / 2

In [22]:
filtered_df = filtered_df.drop(columns = 'Compensation Status')

In [23]:
filtered_df.head(10)

,Year,Gender,Country,Degree,Job Title,Company Size,Team Size,ML Status in Company,Money Spent,Current role experience (in years),Programming language choice,Recommend Programming language,Coding experience (in years),Specialised HW,TPU Usage,ML Methods experience (in years),Average Age,Low Range Comp,High Range Comp,Average Comp
40575,2019,Male,Algeria,Doctoral degree,Research Scientist,Unknown / Not Specified,250-999 employees,No (we do not use ML methods),Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,C++,Unknown / Not Specified,Unknown / Not Specified,Never,< 1 years,47.0,0,10000.0,5000.0
40576,2019,Male,Algeria,Bachelor’s degree,Software Engineer,Unknown / Not Specified,250-999 employees,"We recently started using ML methods (i.e., mo...",Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Once,1-2 years,52.0,10001,20000.0,15000.5
40577,2019,Male,Algeria,Master’s degree,Other,Unknown / Not Specified,0-49 employees,No (we do not use ML methods),Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Never,< 1 years,37.0,0,10000.0,5000.0
40578,2019,Female,Algeria,Professional degree,Data Engineer,Unknown / Not Specified,250-999 employees,"We recently started using ML methods (i.e., mo...",Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Never,10-15 years,42.0,10001,20000.0,15000.5
40579,2019,Male,Algeria,Bachelor’s degree,Product/Project Manager,Unknown / Not Specified,250-999 employees,"We have well established ML methods (i.e., mod...",Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Java,Unknown / Not Specified,Unknown / Not Specified,Once,1-2 years,27.0,0,10000.0,5000.0
40581,2019,Male,Algeria,Bachelor’s degree,Software Engineer,Unknown / Not Specified,0-49 employees,We are exploring ML methods (and may one day p...,Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Never,2-3 years,32.0,0,10000.0,5000.0
40582,2019,Male,Algeria,Master’s degree,Business Analyst,Unknown / Not Specified,50-249 employees,No (we do not use ML methods),Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Never,3-4 years,42.0,10001,20000.0,15000.5
40583,2019,Male,Algeria,Bachelor’s degree,DBA/Database Engineer,Unknown / Not Specified,"1000-9,999 employees",No (we do not use ML methods),Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Never,< 1 years,57.0,40000,49999.0,44999.5
40584,2019,Female,Algeria,Doctoral degree,Data Scientist,Unknown / Not Specified,50-249 employees,No (we do not use ML methods),Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Never,1-2 years,23.0,0,10000.0,5000.0
40586,2019,Female,Algeria,Master’s degree,Research Scientist,Unknown / Not Specified,50-249 employees,No (we do not use ML methods),Unknown / Not Specified,Unknown / Not Specified,Unknown / Not Specified,Python,Unknown / Not Specified,Unknown / Not Specified,Never,2-3 years,37.0,0,10000.0,5000.0

### Analyze the content in columns - Current role experience (in years), Money Spent, Programming language of choice, Coding experience (in years), Specialised HW

In [25]:
filtered_df['Money Spent'].value_counts()

Unknown / Not Specified    10675
$0 ($USD)                   3590
$1000-$9,999                1778
$100-$999                   1688
$1-$99                      1235
$10,000-$99,999             1047
$100,000 or more ($USD)      696
Name: Money Spent, dtype: int64

In [42]:
f_statistic, p_value = f_oneway(*(filtered_df[filtered_df['Money Spent'] == category]['Average Comp'] for category in filtered_df['Money Spent'].unique()))
print("F-statistic:", f_statistic)
print("p-value:", p_value)

F-statistic: 272.3484008627941
p-value: 0.0

In [26]:
filtered_df['Current role experience (in years)'].value_counts()

Unknown / Not Specified    20709
Name: Current role experience (in years), dtype: int64

## Current role experience (in years) can be dropped

In [27]:
filtered_df.drop(columns = 'Current role experience (in years)', inplace = True)

In [28]:
filtered_df['Programming language choice'].value_counts()

Unknown / Not Specified    20709
Name: Programming language choice, dtype: int64

## Programming language choice can be dropped

In [34]:
filtered_df.drop(columns = 'Programming language choice', inplace = True)

In [30]:
filtered_df['Specialised HW'].value_counts()

Unknown / Not Specified    20709
Name: Specialised HW, dtype: int64

## Specialised HW can be dropped

In [31]:
filtered_df.drop(columns = 'Specialised HW', inplace = True)

In [36]:
filtered_df['Company Size'].value_counts()

Unknown / Not Specified     10541
0-49 employees               3642
10,000 or more employees     2016
1000-9,999 employees         1757
50-249 employees             1515
250-999 employees            1238
Name: Company Size, dtype: int64

In [40]:
from scipy.stats import f_oneway

In [41]:
f_statistic, p_value = f_oneway(*(filtered_df[filtered_df['Company Size'] == category]['Average Comp'] for category in filtered_df['Company Size'].unique()))
print("F-statistic:", f_statistic)
print("p-value:", p_value)

F-statistic: 86.84609821628352
p-value: 1.133024060611531e-90

In [44]:
f_statistic, p_value = f_oneway(*(filtered_df[filtered_df['Team Size'] == category]['Average Comp'] for category in filtered_df['Team Size'].unique()))
print("F-statistic:", f_statistic)
print("p-value:", p_value)

F-statistic: 86.98922660660382
p-value: 1.3571092845479942e-193

In [46]:
count_unknown = filtered_df[(filtered_df['Money Spent'] == 'Unknown / Not Specified') & 
                            (filtered_df['Company Size'] == 'Unknown / Not Specified')].shape[0]

In [47]:
count_unknown

10541

In [49]:
filtered_df = filtered_df[~((filtered_df['Money Spent'] == 'Unknown / Not Specified') & 
                            (filtered_df['Company Size'] == 'Unknown / Not Specified'))]

In [57]:
filtered_df.drop(columns = ['Low Range Comp', 'High Range Comp'], inplace = True)

D:\Users\Pasha\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [58]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10168 entries, 60291 to 80325
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Year                              10168 non-null  int64
 1   Gender                            10168 non-null  object
 2   Country                           10168 non-null  object
 3   Degree                            10168 non-null  object
 4   Job Title                         10168 non-null  object
 5   Company Size                      10168 non-null  object
 6   Team Size                         10168 non-null  object
 7   ML Status in Company              10168 non-null  object
 8   Money Spent                       10168 non-null  object
 9   Recommend Programming language    10168 non-null  object
 10  TPU Usage                         10168 non-null  object
 11  ML Methods experience (in years)  10168 non-null  object
 12  Average Age                       10118 non-null  float64
 13  Average Comp                      10168 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.2+ MB

In [51]:
# Fill the missing average comp value with low range comp.
filtered_df['Average Comp'] = filtered_df['Average Comp'].fillna(filtered_df['Low Range Comp'])  
filtered_df['High Range Comp'] = filtered_df['High Range Comp'].fillna(filtered_df['Low Range Comp'])

C:\Users\Pasha\AppData\Local\Temp\ipykernel_64760\3605177292.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Average Comp'] = filtered_df['Average Comp'].fillna(filtered_df['Low Range Comp'])
C:\Users\Pasha\AppData\Local\Temp\ipykernel_64760\3605177292.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['High Range Comp'] = filtered_df['High Range Comp'].fillna(filtered_df['Low Range Comp'])

In [59]:
# Display first 10 rows 
filtered_df.head(10)

,Year,Gender,Country,Degree,Job Title,Company Size,Team Size,ML Status in Company,Money Spent,Recommend Programming language,TPU Usage,ML Methods experience (in years),Average Age,Average Comp
60291,2020,Male,Argentina,Bachelor’s degree,Software Engineer,"1000-9,999 employees",0,No (we do not use ML methods),$0 ($USD),R,Never,I do not use machine learning methods,37.0,15000.5
60293,2020,Female,Argentina,Bachelor’s degree,Data Scientist,0-49 employees,1-2,"We have well established ML methods (i.e., mod...","$10,000-$99,999",Python,Never,5-10 years,37.0,84999.5
60294,2020,Female,Argentina,Bachelor’s degree,Software Engineer,250-999 employees,0,I do not know,$0 ($USD),Python,Never,I do not use machine learning methods,42.0,15000.5
60296,2020,Female,Argentina,Master’s degree,Business Analyst,50-249 employees,0,No (we do not use ML methods),$100-$999,Python,Never,Under 1 year,37.0,5000.0
60300,2020,Male,Argentina,Some college/university study without earning ...,Software Engineer,0-49 employees,1-2,We are exploring ML methods (and may one day p...,$0 ($USD),Python,Once,Under 1 year,42.0,15000.5
60301,2020,Male,Argentina,Master’s degree,Machine Learning Engineer,"1000-9,999 employees",20+,"We recently started using ML methods (i.e., mo...","$10,000-$99,999",Python,6-25 times,4-5 years,27.0,15000.5
60306,2020,Male,Argentina,Master’s degree,Data Analyst,0-49 employees,1-2,We use ML methods for generating insights (but...,$100-$999,Python,2-5 times,1-2 years,42.0,44999.5
60307,2020,Male,Argentina,Doctoral degree,Data Analyst,0-49 employees,1-2,No (we do not use ML methods),$100-$999,Python,Once,4-5 years,52.0,5000.0
60308,2020,Male,Argentina,Doctoral degree,Machine Learning Engineer,50-249 employees,1-2,"We recently started using ML methods (i.e., mo...","$1000-$9,999",Python,Never,5-10 years,32.0,25000.5
60310,2020,Male,Argentina,Bachelor’s degree,Software Engineer,0-49 employees,1-2,We are exploring ML methods (and may one day p...,$1-$99,Python,Never,2-3 years,52.0,15000.5

## Features Analysis

In [60]:
filtered_df.columns[:-1]

Index(['Year', 'Gender', 'Country', 'Degree', 'Job Title', 'Company Size',
       'Team Size', 'ML Status in Company', 'Money Spent',
       'Recommend Programming language', 'TPU Usage',
       'ML Methods experience (in years)', 'Average Age'],
      dtype='object')

In [63]:
nova_results = {}
for col in filtered_df.columns[:-1]:  # Exclude the target variable
    unique_values = filtered_df[col].unique()
    if len(unique_values) > 1:  # Check if there's more than one unique value
        f_statistic, p_value = f_oneway(*(filtered_df[filtered_df[col] == val]['Average Comp'] for val in unique_values))
        anova_results[col] = {'F-statistic': f_statistic, 'p-value': p_value}

# Print ANOVA results
for col, result in anova_results.items():
    print(f"ANOVA results for '{col}':")
    print(result)
    print()

ANOVA results for 'Gender':
{'F-statistic': 17.50782113266976, 'p-value': 2.504071961466291e-14}

ANOVA results for 'Country':
{'F-statistic': 91.09270671931516, 'p-value': 0.0}

ANOVA results for 'Degree':
{'F-statistic': 43.44977067868963, 'p-value': 1.0426599320111108e-52}

ANOVA results for 'Job Title':
{'F-statistic': 20.524810126470722, 'p-value': 3.3362216071612484e-38}

ANOVA results for 'Company Size':
{'F-statistic': 93.81849219700749, 'p-value': 1.7327715969762043e-78}

ANOVA results for 'Team Size':
{'F-statistic': 101.81470298059293, 'p-value': 6.355949768311344e-125}

ANOVA results for 'ML Status in Company':
{'F-statistic': 142.4390259248187, 'p-value': 1.5455022547128194e-146}

ANOVA results for 'Money Spent':
{'F-statistic': 293.6946519006449, 'p-value': 0.0}

ANOVA results for 'Recommend Programming language':
{'F-statistic': 4.584868845835112, 'p-value': 1.888572910325122e-07}

ANOVA results for 'TPU Usage':
{'F-statistic': 9.420785022392765, 'p-value': 1.3439804157012292e-07}

ANOVA results for 'ML Methods experience (in years)':
{'F-statistic': 173.06192946692323, 'p-value': 5.43910166338916e-275}

ANOVA results for 'Average Age':
{'F-statistic': nan, 'p-value': nan}

D:\Users\Pasha\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:3869: DegenerateDataWarning: at least one input has length 0
  warnings.warn(stats.DegenerateDataWarning('at least one input '

In [92]:
filtered_df.drop(columns = ['Gender', 'Country', 'Year', 'Average Age'], inplace = True)

D:\Users\Pasha\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## One Hot Encoding for Modeling

In [93]:
categorical_columns = filtered_df.select_dtypes(include=['object']).columns
df_encoded = pd.get_dummies(filtered_df, columns=categorical_columns)

In [95]:
df_encoded.head()

,Average Comp,Degree_Bachelor’s degree,Degree_Doctoral degree,Degree_I prefer not to answer,Degree_Master’s degree,Degree_No formal education past high school,Degree_Professional degree,Degree_Some college/university study without earning a bachelor’s degree,Job Title_Business Analyst,Job Title_DBA/Database Engineer,...,TPU Usage_Once,ML Methods experience (in years)_1-2 years,ML Methods experience (in years)_10-20 years,ML Methods experience (in years)_2-3 years,ML Methods experience (in years)_20 or more years,ML Methods experience (in years)_3-4 years,ML Methods experience (in years)_4-5 years,ML Methods experience (in years)_5-10 years,ML Methods experience (in years)_I do not use machine learning methods,ML Methods experience (in years)_Under 1 year
60291,15000.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
60293,84999.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
60294,15000.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
60296,5000.0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
60300,15000.5,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

## Model

In [96]:
df_encoded.dropna(inplace = True)

In [98]:
target  = df_encoded['Average Comp']

In [112]:
features = df_encoded.drop(columns = 'Average Comp')

In [113]:
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size = 0.3, random_state = 42)

In [115]:
from sklearn.dummy import DummyRegressor

In [116]:
ols = LinearRegression()

In [117]:
model = ols.fit(features_train,target_train)

In [118]:
target_predict = model.predict(features_test)

In [119]:
r2 = r2_score(target_test, target_predict)
print("R-squared value of the Linear Regression model without tuning is - ", r2)

R-squared value of the Linear Regression model without tuning is -  0.25088851009329316

### Baseline model

In [120]:
dummy_r = DummyRegressor(strategy = 'mean')

In [121]:
# Train a baseline model on the training set
dummy_r.fit(features_train, target_train)

DummyRegressor()

In [122]:
# Calculate the score of the baseline model
dummy_r.score(features_test, target_test)

-0.0003081758753353814

### Random Forest

In [123]:
rfm = RandomForestRegressor()
model_rf = rfm.fit(features_train, target_train)
target_predict_rf = model_rf.predict(features_test)
r2_rf =r2_score(target_test,target_predict_rf )
print("R-squared value of the RandomForest model is - ", r2_rf)

R-squared value of the RandomForest model is -  0.16890683896572034

### Grid Search CV will be employed to fine-tune the Random Forest algorithm, which has demonstrated better performance in predicting salaries. Various parameters including the number of estimators, maximum depth, and minimum sample split will be tested to determine the optimal performance.

In [127]:
# Import all necessary libraries
import pandas as pd
import numpy as np
from sklearn.dummy import DummyRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.feature_selection import VarianceThreshold
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Lasso, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [124]:
# Create a dictionary of parameters and values to serach the best model on
search_grid = {'n_estimators' : [100, 200,300],
               'max_depth' : [None, 10,20,30,40],
               'min_samples_split' :[2,5,10]
    
}

In [125]:
# Create an instance of Random Forest regressor
rfm = RandomForestRegressor(random_state = 42)

In [128]:
# Apply a grid search cross validation with the set of parameters and cross validation of 5 
grid_search = GridSearchCV(estimator = rfm, param_grid = search_grid, cv =5, n_jobs = -1, scoring = 'r2')

In [129]:
# Train the model using Grid Search cross validation
grid_search.fit(features_train, target_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42), n_jobs=-1,
             param_grid={'max_depth': [None, 10, 20, 30, 40],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [100, 200, 300]},
             scoring='r2')

In [130]:
grid_search.best_estimator_

RandomForestRegressor(max_depth=10, min_samples_split=10, n_estimators=200,
                      random_state=42)

In [132]:
best_grid_model_rf = grid_search.best_estimator_

In [133]:
target_predict_rfm = best_grid_model_rf.predict(features_test)

In [134]:
# Calculate R2 of the model
r2_best_rfm = r2_score(target_test, target_predict_rfm)
print("R-squared value of the RandomForest model with a grid search cross validation is - ", r2_best_rfm)

R-squared value of the RandomForest model with a grid search cross validation is -  0.2463720020048803

## XGBoost

In [135]:
# Import necessary packages for XGBoost model training
import xgboost as xgb
from xgboost import XGBRegressor

In [136]:
# Create a fearures matrixes for XGBoost model
dtrain = xgb.DMatrix(features_train, label=target_train)
dtest = xgb.DMatrix(features_test, label=target_test)

In [137]:
# Create a dictionary of hyperparameters for model tuning
parms_xgb_grid = {
    "n_estimators" : [100,200,500,800],
    "learning_rate" : [0.01, 0.1, 0.3],
    "max_depth" : [3,5,7],
    "colsample_bytree" : [0.7,1],
    "subsample" : [0.7, 1]
}

In [138]:
# Create an instance of XGBoost model
xgb_model = XGBRegressor(random_state =42)

In [139]:
# Generate a grid search 
grid_search_xgb = GridSearchCV(estimator = xgb_model, param_grid = parms_xgb_grid, cv =5, n_jobs = -1, scoring = 'r2')

In [140]:
# Train a model using grid serach cross validation
grid_search_xgb.fit(features_train, target_train)

GridSearchCV(cv=5,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    callbacks=None, colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, device=None,
                                    early_stopping_rounds=None,
                                    enable_categorical=False, eval_metric=None,
                                    feature_types=None, gamma=None,
                                    grow_policy=None, importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, m...
                                    max_depth=None, max_leaves=None,
                                    min_child_weight=None, missing=nan,
                                    monotone_constraints=None,
                                    multi_strategy=None, n_estimators=None,
                                    n_jobs=None, num_parallel_tree=None,
                                    random_state=42, ...),
             n_jobs=-1,
             param_grid={'colsample_bytree': [0.7, 1],
                         'learning_rate': [0.01, 0.1, 0.3],
                         'max_depth': [3, 5, 7],
                         'n_estimators': [100, 200, 500, 800],
                         'subsample': [0.7, 1]},
             scoring='r2')