In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import pytz
import sklearn
import scipy

In [6]:
#check versions of packages
import sys
print(sys.version)
print('pandas version:', pd.__version__)
print('numpy version:', np.__version__)
print('seaborn:', sns.__version__)
print('re version:', re.__version__)
print('pytz version:', pytz.__version__)
print('sklearn version:', sklearn.__version__)
print('scipy version:', scipy.__version__)

3.11.8 | packaged by Anaconda, Inc. | (main, Feb 26 2024, 21:34:05) [MSC v.1916 64 bit (AMD64)]
pandas version: 2.2.1
numpy version: 1.26.4
seaborn: 0.12.2
re version: 2.2.1
pytz version: 2023.3.post1
sklearn version: 1.2.2
scipy version: 1.11.4

In [12]:
data = pd.read_csv('CPS.csv')

In [58]:
# Select and rename relevant columns for analysis
selected_columns = {
    'hrhhid2': 'household_id',
    'HUFINAL': 'interview_outcome', 
    'hrnumhou': 'household-members',#number of members in a houshold 
    'peeduca': 'education_level', # Highest level of education completed
    'pemlr': 'employment_status', # Employment status
    'hefaminc': 'family_income', # Family income
    'pecert1': 'professional_certification1', # Professional certification 1
    'pecert2': 'cert_issued_by_state_or_gov', #is certificate issued by the state or the federal government? 
    'pecert3': 'is_cert_required', # is certification needed for the job ?
    'primind1': 'primary_industry_code_job1', # Primary industry code for job 1
    'peio1icd': 'industry_code_job1', # Industry code for job 1
    'ptio1ocd': 'occupation_code_job1', # Occupation code for job 1
    'primind2': 'primary_industry_code_job2', # Primary industry code for job 2 
    'peio2icd': 'industry_code_job2', # Industry code for job 2
    'ptio2ocd': 'occupation_code_job2' # Occupation code for job 2
}

In [59]:
# Filter the dataset to keep only the selected columns, verifying they exist
data_filtered = data[[col for col in selected_columns if col in data.columns]].rename(columns=selected_columns)

In [60]:
data_filtered

,household_id,interview_outcome,household-members,education_level,employment_status,family_income,professional_certification1,cert_issued_by_state_or_gov,is_cert_required,primary_industry_code_job1,industry_code_job1,occupation_code_job1,primary_industry_code_job2,industry_code_job2,occupation_code_job2
0,15011,201,3,37.0,4.0,12,2.0,-1.0,-1.0,4.0,3570.0,4130.0,-1.0,-1.0,-1.0
1,15011,201,3,-1.0,-1.0,12,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,15011,201,3,-1.0,-1.0,12,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,16011,201,1,40.0,1.0,13,2.0,-1.0,-1.0,18.0,8680.0,4110.0,-1.0,-1.0,-1.0
4,15011,201,2,40.0,1.0,16,2.0,-1.0,-1.0,4.0,3680.0,7750.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126779,17111,218,0,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126780,15111,218,5,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126781,15111,218,0,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126782,15111,218,5,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126783,17111,218,0,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN